body{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    padding: 10px;
    margin: 10px;
}

button{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 25px 25px;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}