body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;

}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: greenyellow;
    color: green;
    padding: 10px;
    border: 1px solid green;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}